.breadcrumb-transition-enter-active {
  transition:
    transform 0.4s cubic-bezier(0.76, 0, 0.24, 1),
    opacity 0.4s cubic-bezier(0.76, 0, 0.24, 1);
}

.breadcrumb-transition-leave-active {
  display: none;
}

.breadcrumb-transition-enter-from {
  opacity: 0;
  transform: translateX(30px) skewX(-30deg);
}

/* 对话框滑动动画 */
.dialog-slide-enter-active {
  transition:
    transform 0.3s,
    opacity 0.3s;
}
.dialog-slide-leave-active {
  transition:
    transform 0.2s,
    opacity 0.15s; /* 缩短关闭动画时间 */
}
.dialog-slide-enter-from {
  transform: translateY(-20%);
  opacity: 0;
}
.dialog-slide-enter-to {
  transform: translateY(0);
  opacity: 1;
}
.dialog-slide-leave-from {
  transform: translateY(0);
  opacity: 1;
}
.dialog-slide-leave-to {
  transform: translateY(-20%);
  opacity: 0;
}

.dialog-fade-enter-active,
.dialog-fade-leave-active {
  transition: opacity 0.3s;
}
.dialog-fade-enter-from,
.dialog-fade-leave-to {
  opacity: 0;
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition: 0.25s cubic-bezier(0.25, 0.8, 0.5, 1);
}

.slide-up-move {
  transition: transform 0.3s;
}

.slide-up-enter-from,
.slide-up-leave-to {
  opacity: 0;
  transform: translateY(-15px);
}

.slide-down-enter-active,
.slide-down-leave-active {
  transition: 0.25s cubic-bezier(0.25, 0.8, 0.5, 1);
}

.slide-down-move {
  transition: transform 0.3s;
}

.slide-down-enter-from,
.slide-down-leave-to {
  opacity: 0;
  transform: translateY(15px);
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: 0.25s cubic-bezier(0.25, 0.8, 0.5, 1);
}

.slide-left-move {
  transition: transform 0.3s;
}

.slide-left-enter-from,
.slide-left-leave-to {
  opacity: 0;
  transform: translate(-15px);
}

.slide-right-enter-active,
.slide-right-leave-active {
  transition: 0.25s cubic-bezier(0.25, 0.8, 0.5, 1);
}

.slide-right-move {
  transition: transform 0.3s;
}

.slide-right-enter-from,
.slide-right-leave-to {
  opacity: 0;
  transform: translate(15px);
}

.fade-transition-enter-active,
.fade-transition-leave-active {
  transition: opacity 0.2s ease-in-out;
}

.fade-transition-enter-from,
.fade-transition-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-slide-leave-active,
.fade-slide-enter-active {
  transition: all 0.3s;
}

.fade-slide-enter-from {
  opacity: 0;
  transform: translate(-30px);
}

.fade-slide-leave-to {
  opacity: 0;
  transform: translate(30px);
}

.fade-down-enter-active,
.fade-down-leave-active {
  transition:
    opacity 0.25s,
    transform 0.3s;
}

.fade-down-enter-from {
  opacity: 0;
  transform: translateY(-10%);
}

.fade-down-leave-to {
  opacity: 0;
  transform: translateY(10%);
}

.fade-scale-leave-active,
.fade-scale-enter-active {
  transition: all 0.28s;
}

.fade-scale-enter-from {
  opacity: 0;
  transform: scale(1.2);
}

.fade-scale-leave-to {
  opacity: 0;
  transform: scale(0.8);
}

.fade-up-enter-active,
.fade-up-leave-active {
  transition:
    opacity 0.2s,
    transform 0.25s;
}

.fade-up-enter-from {
  opacity: 0;
  transform: translateY(10%);
}

.fade-up-leave-to {
  opacity: 0;
  transform: translateY(-10%);
}

.context-menu-enter-active,
.context-menu-leave-active {
  transition: 0.1s cubic-bezier(0.25, 0.8, 0.5, 1);
}

.context-menu-move {
  transition: transform 0.1s;
}

.context-menu-enter-from,
.context-menu-leave-to {
  opacity: 0;
  transform: translate(-15px);
}
