.breadcrumb-transition-enter-active {
    transition:
            transform 0.4s cubic-bezier(0.76, 0, 0.24, 1),
            opacity 0.4s cubic-bezier(0.76, 0, 0.24, 1);
}

.breadcrumb-transition-leave-active {
    display: none;
}

.breadcrumb-transition-enter-from {
    opacity: 0;
    transform: translateX(30px) skewX(-30deg);
}

/* 对话框滑动动画 */
.slide-enter-active {
    transition:
            transform 0.3s,
            opacity 0.3s;
}
.slide-leave-active {
    transition:
            transform 0.2s,
            opacity 0.15s; /* 缩短关闭动画时间 */
}
.slide-enter-from {
    transform: translateY(-20%);
    opacity: 0;
}
.slide-enter-to {
    transform: translateY(0);
    opacity: 1;
}
.slide-leave-from {
    transform: translateY(0);
    opacity: 1;
}
.slide-leave-to {
    transform: translateY(-20%);
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s;
}
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}